.footer {
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: 8rem;

  &__nav {
    list-style: none;
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    align-items: start;
  }

  &__link:link,
  &__link:visited {
    display: block;
    background-color: $color-secondary;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: $font-display;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    text-align: center;
    line-height: 2.2rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-0.3rem);
    }
  }

  &__copyright {
    width: 70%;
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
